/* Write your CSS here */
.app-item-list-item {
  list-style-type: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 120px;
  width: 120px;
}
.app-item-image {
  height: 60px;
  width: 60px;
}
.app-item-name {
  font-size: 13px;
}
